$black-color: #000000;
$white-color: #ffffff;
$orange-color: #f78b50;
$primary-color: #ff0049;
$secondary-color: #002b45;
$terciary-color: #fff1e5;
$light-blue-color: #40c3df;

$colors: (
  'black-color': #000000,
  'orange-color': #f78b50,
  'white-color': #ffffff,
  'primary-color': #ff0049,
  'secondary-color': #002b45,
  'terciary-color': #fff1e5,
  'light-blue-color': #40c3df
);
