.c-icon {
  display: inline-flex;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;

  &.primary {
    filter: invert(22%) sepia(65%) saturate(7496%) hue-rotate(334deg) brightness(96%) contrast(117%);
  }

  &.secondary {
    filter: invert(12%) sepia(20%) saturate(6880%) hue-rotate(181deg) brightness(95%) contrast(102%);
  }
}
